body{
  background-color: #212121;
  margin:0;
  
}
span{
  color:white;
}
footer{
  bottom:1;
  color:white;
  text-align: center;
  font-weight: 400;
  font-size: smaller;
  padding:0.6rem;
}
span.spanBold{
  font-weight: 800;
}
@media only screen and (max-width: 600px) {
  .Body{
    padding:2rem;
  }
  h1{
    font-size: large;
  }

}
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}