.Navbar{
    li{
      text-decoration: none;
      list-style-type: none;
    }
a{
    text-decoration: none;
}
cursor: pointer;
position: fixed;
z-index: 1;
margin:1rem;

    h1{
      color:white;
      font-size: large;
      font-weight: 600;
      
    }
    padding:1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 7px 24px;
    border-radius: 1.2rem;
    transition: 0.7s;
    border:0px;
    font-size: medium;
    height: 4%;
    overflow: hidden;
    .Container_head{
      display: flex;
      flex-direction:column;
      li{
        font-weight: 600;
        margin-top:1rem;
        padding:0 rem;
        border-radius: 1rem;
        transition: 0.3s;
        border:0px #f1f1f131;
        a{
            text-decoration: none;
            color:white;
        }
      }
      li:hover{
        padding:0.7rem;
        border:1px solid #f1f1f131;
        background-color: #333185;
        opacity:80%;
      }
      li.active{
        padding:0.7rem;
        border:1px solid #f1f1f131;
        background-color: #333185;
        opacity:80%;
      }
    }
  }
  .NavLeft{
    float:left;
  }
  .NavRight{
    
    float:right;
    .BurgerOpsi{
        padding:0.5em;
       }   
    

  }
  @media only screen and (max-width: 990px) {
    .Navbar{
        backdrop-filter: blur(20px);
        position: absolute;
        overflow:visible;
        box-sizing: border-box;
        width: 100%;
        margin:0;
        border-radius: 0;
        height: max-content;
        .Option{
            visibility: hidden;
            animation: fadeOut 0.6s;
            height: 0em;
            
            overflow:hidden;
        }
        .ActiveOption{
          animation: fadein 1s;
          height: 7em
        }
        
    }
    .Navbar:hover{
        opacity:100%;
        padding:1rem;
        
    }
   
  }
  @keyframes fadein {
    from { opacity: 0; height: 0em;}
    to   { opacity: 1; height: 7em; }
}
@keyframes fadeOut {
  from { opacity: 1; height: 7em;}
  to   { opacity: 0; height: 0em; }
}
  @media only screen and (min-width: 990px) {
    .Navbar:hover{
        border: 1px solid #f1f1f131;
        opacity:80%;
        padding:2rem;
        height: 20%;
        backdrop-filter: blur(20px);
      }
    .NavRight{
        .BurgerOpsi{
            display:none;
            
           }   
        
        
    
      }
  }